<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ejercicio</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <div class="header">
        <p class="user">Hola Jorge!</p>
        <p class="welcome">Bienvenido a la nueva aplicación de Banco Azteca</p>
        <div class="points"><span>230 pts.</span></div>
    </div>
    <div class="container-fluid">

    </div>
</body>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>

</html>