<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ejercicio</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <!--HTML modales-->
    <div class="modal fade" id="inf-prestamo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="bobles">
                        <div class="boble boble-academic active" data-toggle="modal" data-target="#inf-prestamo">
                            <div class="fill"></div>
                            <div class="circle">
                                <span class="icon-academic"></span>
                            </div>
                        </div>
                    </div>
                    <p class="title">Academico</p>
                    <p class="payments">22 de 70 pagos</p>
                    <p class="description text-center"> Yo te ayudare a aprender más de tus finanzas personales y
                        alcanzar tus logros
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="inf-zumi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="title">Hola soy tu asesor personal Zumi..</p>
                    <br>
                    <p class="description">Yo te ayudare a aprender más de tus finanzas personales y alcanzar tus logros
                        <br><br>
                        - Averigua si puedes solicitar un credito de auto<br>
                        - Tu defines los plazos y los montos
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="https://wa.me/14155238886" target="_blank" class="btn btn-success btn-wa">Iniciar
                        asesoria</a>
                </div>
            </div>
        </div>
    </div>



    <!--HTML Vistas mobile-->
    <div class="header">
        <p class="user">Hola Jorge!</p>
        <p class="welcome">Bienvenido a la nueva aplicación de Banco Azteca</p>
        <div class="points"><span>230 pts.</span></div>
    </div>
    <div class="container-fluid">
        <p class="logros">Tus logros</p>
        <div class="bobles">
            <div class="boble boble-academic active" data-toggle="modal" data-target="#inf-prestamo">
                <div class="fill"></div>
                <div class="circle">
                    <span class="icon-academic"></span>
                </div>
                <span>Academico</span>
            </div>
            <div class="boble boble-home" data-toggle="modal" data-target="#inf-zumi">
                <div class="circle">
                    <span class="icon-home"></span>
                </div>
                <span>Hogar</span>
            </div>
            <div class="boble boble-cars" data-toggle="modal" data-target="#inf-zumi">
                <div class="circle">
                    <span class="icon-cars"></span>
                </div>
                <span>Vehiculos</span>
            </div>
            <div class="boble boble-insurance" data-toggle="modal" data-target="#inf-zumi">
                <div class="circle">
                    <span class="icon-insurance"></span>
                </div>
                <span>Seguros</span>
            </div>
            <div class="boble boble-saves" data-toggle="modal" data-target="#inf-zumi">
                <div class="circle">
                    <span class="icon-saves"></span>
                </div>
                <span>Guardadito</span>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="button-home">
            <span class="icon-home">Inicio</span>
        </div>
        <div class="col-xs-6 division">
            <span class="icon-settings"></span>
        </div>
        <div class="col-xs-6 division">
            <span class="icon-money"></span>
        </div>
    </div>
</body>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>

<script>
    function goZumi() {
        $("#inf-zumi").modal("hide")
        setTimeout(() => {
            window.location.href = "https://wa.me/+14155238886"
        }, 400);
    }
</script>

</html>
