<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ejercicio</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <div class="header">
        <p class="user">Hola Jorge!</p>
        <p class="welcome">Bienvenido a la nueva aplicación de Banco Azteca</p>
        <div class="points"><span>230 pts.</span></div>
    </div>
    <div class="container-fluid">
        <p>Tus logros</p>
        <div class="bobles">
            <div class="boble-academic">
                <div class="circle">
                    <span class="icon-academic"></span>
                </div>
                <span>Academico</span>
            </div>
            <div class="boble-home">
                <div class="circle">
                    <span class="icon-home"></span>
                </div>
                <span>Hogar</span>
            </div>
            <div class="boble-cars">
                <div class="circle">
                    <span class="icon-cars"></span>
                </div>
                <span>Vehiculos</span>
            </div>
            <div class="boble-insurance">
                <div class="circle">
                    <span class="icon-insurance"></span>
                </div>
                <span>Seguros</span>
            </div>
            <div class="boble-saves">
                <div class="circle">
                    <span class="icon-saves"></span>
                </div>
                <span>Guardadito</span>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="button-home">
            <span class="icon-home">Inicio</span>
        </div>
        <div class="col-xs-6">
            <span class="icon-settings"></span>
        </div>
        <div class="col-xs-6">
            <span class="icon-money"></span>
        </div>
    </div>
</body>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>

</html>